
.tag-cloud {
	margin-top: 80px;

	.set-1 {
		font-size: 1.0em;
	}

	.set-2 {
		font-size: 1.5em;
	}

	.set-3 {
		font-size: 2.0em;
	}

	.set-4 {
		font-size: 2.5em;
	}

	.set-5 {
		font-size: 3.0em;
	}
}
