<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.baseurl }}/" class="site-title">
        {{ site.title }}
        <br />
        <span style="color: #e0e0e0;">{{ site.description }}</span>
      </a>
      <nav class="site-nav">
        {% include navigation.html %}

	      {% if site.show_social_icons %}
	      	<br />
	        {% include social_links.html %}
	      {% endif %}
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
