<div class="py2 post-footer">
	<hr />
  <img src="{{ site.baseurl }}/signature.png" alt="signature" style="height: 55px;" />
  <p>Thanks for reading! <span style="font-style: normal;">😍</span></p>
  <p>
    If you like my writing, consider following me on
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>.
  </p>

    <p>
    	Stay updated on my blog posts &amp; projects - sign up for
    	<a href="https://buttondown.email/joonas">my newsletter</a>. 🚀
    	<br />
    	<small>
    		No spam, unsubscribe any time.
    		<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> also available.
    	</small>
  </p>
</div>
