---
layout: post
title: Nice detail on tumblr email verification
date: '2013-01-26T14:27:00+00:00'
tags: []
tumblr_url: http://joonas-fi.tumblr.com/post/41516345170/nice-detail-on-tumblr-email-verification
---

![](/images/2013/01/tumblr_mh8fy5JBCf1s4uffjo1_250.png)

